# Generic
*.DS_Store
.com.apple.timemachine.supported
*~

# Node
/node_modules/
npm-debug.log

# Gulp build
/build/
/vendor/

# FTP Config:
#
# module.exports = {
#  settings: {
#    host: 'host',
#    user: 'user',
#    pass: 'pass',
#    remotePath: 'remote-path'
#  }
#};
#
ftp.config.js