<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="authCtrl.close()"><span aria-hidden="true">&times;</span></button>
  <h4 ng-if="authCtrl.signup" class="modal-title">{{authCtrl.lang.get('Signup')}} <small>{{authCtrl.lang.get('or')}}</small> <a href="#" role="button" ng-click="authCtrl.signup = false">{{authCtrl.lang.get('login')}}</a></h4>
  <h4 ng-if="!authCtrl.signup" class="modal-title">{{authCtrl.lang.get('Login')}} <small>{{authCtrl.lang.get('or')}}</small> <a href="#" role="button" ng-click="authCtrl.signup = true">{{authCtrl.lang.get('signup')}}</a></h4>
</div>

<div class="modal-body">
  <div ng-include="'app/auth/auth.form.tpl.html'"></div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="authCtrl.cancel()">{{authCtrl.lang.get('Cancel')}}</button>
</div>