<form role="login" id="auth-form" name="authForm" ng-submit="authCtrl.submit(authForm.$valid)" novalidate>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      <input class="form-control" ng-disabled="authCtrl.working" name="email" type="email" placeholder="{{authCtrl.lang.get('emailPlaceholder')}}" ng-model="authCtrl.user.email">
    </div>
    <div class="form-sub text-danger">
      <div ng-messages="authForm.email.$error" ng-if="authForm.$submitted || authForm.email.$touched">
        <div ng-message="required">{{authCtrl.lang.get('emailReq')}}</div>
        <div ng-message="email">{{authCtrl.lang.get('emailLike')}}</div>
      </div>
      <div ng-if="authCtrl.error.code === 'EMAIL_TAKEN'">
        {{authCtrl.lang.get('emailTaken')}}
      </div>
      <div ng-if="authCtrl.error.code === 'INVALID_EMAIL'">
        {{authCtrl.lang.get('emailInvalid')}}
      </div>
      <div ng-if="authCtrl.error.code === 'INVALID_USER'">
        {{authCtrl.lang.get('userInvalid')}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <input class="form-control" ng-disabled="authCtrl.working" name="password" type="password" placeholder="{{authCtrl.lang.get('passwordPlaceholder')}}" ng-model="authCtrl.user.password" required minlength="8">
    </div>
    <div class="form-sub text-danger">
      <div ng-messages="authForm.password.$error" ng-if="authForm.$submitted || authForm.password.$touched">
        <div ng-message="required">{{authCtrl.lang.get('passwordReq')}}</div>
        <div ng-message="minlength">{{authCtrl.lang.get('passwordMin')}}</div>
      </div>
      <div ng-if="authCtrl.error.code === 'INVALID_PASSWORD'">
        {{authCtrl.lang.get('passwordInvalid')}}
      </div>
    </div>
  </div>
  <div class="form-group" ng-if="authCtrl.signup">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <input class="form-control" ng-disabled="authCtrl.working" name="passwordConfirm" type="password" placeholder="{{authCtrl.lang.get('passwordConfirmPlaceholder')}}" ng-model="authCtrl.user.passwordConfirm" required minlength="8" compare-to-validator="authCtrl.user.password">
    </div>
    <div class="form-sub text-danger">
      <div ng-messages="authForm.passwordConfirm.$error" ng-if="authForm.$submitted || authForm.passwordConfirm.$touched">
        <div ng-message="required">{{authCtrl.lang.get('passwordRepeat')}}</div>
        <div ng-message="compareTo">{{authCtrl.lang.get('passwordMatch')}}</div>
      </div>
    </div>
  </div>
  <div class="checkbox text-center">
    <label>
      <input ng-disabled="authCtrl.working" type="checkbox" id="authRemember" ng-model="authCtrl.user.remember">
      {{authCtrl.lang.get('remember')}}
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" ng-disabled="authCtrl.working" type="submit">
    <span ng-if="authCtrl.signup && !authCtrl.working">{{authCtrl.lang.get('createAccount')}}</span>
    <span ng-if="!authCtrl.signup && !authCtrl.working">{{authCtrl.lang.get('Login')}}</span>
    <span ng-if="authCtrl.working"><i class="fa fa-circle-o-notch fa-spin"></i> {{authCtrl.lang.get('working')}}...</span>
  </button>
  <div ng-if="authCtrl.error.code === 'NETWORK_ERROR'" class="auth-error text-center text-danger">
    {{authCtrl.lang.get('networkError')}}
  </div>
  <div ng-if="authCtrl.error.code === 'GENERAL_ERROR'" class="auth-error text-center text-danger">
    {{authCtrl.lang.get('generalError')}}
  </div>
  <div id="social-auth" class="text-center" ng-if="!authCtrl.signup">
    {{authCtrl.lang.get('orSocial')}}
    <ul>
      <li><a ng-click="authCtrl.login3rdParty('facebook')"><i class="fa fa-3x fa-facebook-official"></i></a></li>
      <li><a ng-click="authCtrl.login3rdParty('google')"><i class="fa fa-3x fa-google"></i></a></li>
      <li><a ng-click="authCtrl.login3rdParty('twitter')"><i class="fa fa-3x fa-twitter"></i></a></li>
    </ul>
  </div>
  <div class="form-sub text-danger">
    <div ng-if="authCtrl.error.code === 'PROVIDER_ERROR'">
      {{authCtrl.lang.get('providerError')}} {{authCtrl.error.provider}}
    </div>
    <div ng-if="authCtrl.error.code === 'USER_CANCELLED'">
      {{authCtrl.lang.get('providerAuthenticationError')}} {{authCtrl.error.provider}} {{authCtrl.lang.get('userCancel')}}
    </div>
    <div ng-if="authCtrl.error.code === 'USER_DENIED'">
      {{authCtrl.lang.get('providerAuthenticationError')}} {{authCtrl.error.provider}} {{authCtrl.lang.get('userDenied')}}
    </div>
  </div>
</form>