<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="authCtrl.close()"><span aria-hidden="true">&times;</span></button>
  <h4 ng-if="authCtrl.signup" class="modal-title">Sign up <small>or</small> <a href="#" role="button" ng-click="authCtrl.signup = false">login</a></h4>
  <h4 ng-if="!authCtrl.signup" class="modal-title">Login <small>or</small> <a href="#" role="button" ng-click="authCtrl.signup = true">sign up</a></h4>
</div>

<div class="modal-body">
  <div ng-include="'app/auth/auth.form.tpl.html'"></div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="authCtrl.cancel()">Cancel</button>
</div>