<div id="welcome" class="jumbotron no-margin">
  <div class="container">
    <div class="text-center">
      <h1>
        Snipp'it
      </h1>

      <div class="lead">Generate content from your snippets</div>
      <div class="by-line">by <a target="_blank" href="http://ljungmann.net">Ljungmann</a> & <a target="_blank" href="http://ydefeldt.com">Ydefeldt</a></div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4" ng-init="welcomeCtrl.values = {}">
          <div class="form-group" ng-repeat="variable in welcomeCtrl.snippet.variables">
            <input class="form-control" placeholder="{{variable.placeholder}}" ng-model="welcomeCtrl.values[variable.tag]">
          </div>
        </div>
      </div>
    </div>
    <div class="lead text-center col-md-8 col-md-offset-2">
      <div ng-bind-html="welcomeCtrl.snippet | tagFill: welcomeCtrl.values | ngMarkdown | html">
      </div>
      <button class="btn btn-default" clip-copy="welcomeCtrl.copyAsHTML(welcomeCtrl.snippet)" clip-copy-mime-type="text/html">Copy to clipboard <i class="fa fa-clipboard"></i></button>
    </div>
  </div>
</div>
</div>