<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div class="page-header text-center">
        <h1>
          {{cpCtrl.lang.get('title')}}
          <br>
          <small>{{cpCtrl.lang.get('change')}}</small>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <p class="text-center">
        {{cpCtrl.lang.get('changePrecaution')}}
      </p>
      <form class="form-horizontal" id="change-password-form" name="cpForm" ng-submit="cpCtrl.submit(cpForm.$valid)" novalidate>

        <div class="form-group">
          <label for="oldPass" class="col-sm-4 control-label">{{cpCtrl.lang.get('oldPass')}}</label>
          <div class="col-sm-8">
            <input class="form-control" ng-disabled="cpCtrl.working" id="oldPass" name="oldPass" type="password" ng-model="cpCtrl.pass.oldPass" required minlength="8">
            <div class="form-sub text-danger">
              <div ng-messages="cpForm.oldPass.$error" ng-if="cpForm.$submitted || cpForm.oldPass.$touched">
                <div ng-message="required">{{cpCtrl.lang.get('passwordReq')}}</div>
                <div ng-message="minlength">{{cpCtrl.lang.get('passwordMin')}}</div>
              </div>
              <div ng-if="cpCtrl.error.code === 'INVALID_PASSWORD'">
                {{cpCtrl.lang.get('passwordInvalid')}}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="newPass1" class="col-sm-4 control-label">{{cpCtrl.lang.get('newPass1')}}</label>
          <div class="col-sm-8">
            <input class="form-control" ng-disabled="cpCtrl.working" id="newPass1" name="newPass1" type="password" ng-model="cpCtrl.pass.newPass1" required minlength="8">
            <div class="form-sub text-danger">
              <div ng-messages="cpForm.newPass1.$error" ng-if="cpForm.$submitted || cpForm.newPass1.$touched">
                <div ng-message="required">{{cpCtrl.lang.get('passwordReq')}}</div>
                <div ng-message="minlength">{{cpCtrl.lang.get('passwordMin')}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="newPass2" class="col-sm-4 control-label">{{cpCtrl.lang.get('newPass2')}}</label>
          <div class="col-sm-8">
            <input class="form-control" ng-disabled="cpCtrl.working" id="newPass2" name="newPass2" type="password" ng-model="cpCtrl.pass.newPass2" required minlength="8" compare-to-validator="cpCtrl.pass.newPass1">
            <div class="form-sub text-danger">
              <div ng-messages="cpForm.newPass2.$error" ng-if="cpForm.$submitted || cpForm.newPass2.$touched">
                <div ng-message="required">{{cpCtrl.lang.get('passwordReq')}}</div>
                <div ng-message="minlength">{{cpCtrl.lang.get('passwordMin')}}</div>
                <div ng-message="compareTo">{{cpCtrl.lang.get('passwordMatch')}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <button class="btn btn-lg btn-default" ng-disabled="cpCtrl.working" type="button" ui-sref="user.user">{{cpCtrl.lang.get('cancel')}}</button>
          </div>
          <div class="col-sm-8">
            <button class="btn btn-lg btn-primary btn-block" ng-class="{'btn-success': cpCtrl.success}" ng-disabled="cpCtrl.working" type="submit">
              <span ng-if="cpCtrl.working"><i class="fa fa-circle-o-notch fa-spin"></i> {{cpCtrl.lang.get('working')}}...</span>
              <span ng-if="!cpCtrl.working && !cpCtrl.success">{{cpCtrl.lang.get('change')}}</span>
              <span ng-if="!cpCtrl.working && cpCtrl.success">{{cpCtrl.lang.get('changeSuccess')}}</span>
            </button>
            <div ng-if="cpCtrl.error.code === 'NETWORK_ERROR'" class="form-sub text-center text-danger">
              {{cpCtrl.lang.get('networkError')}}
            </div>
            <div ng-if="cpCtrl.error.code === 'GENERAL_ERROR'" class="form-sub text-center text-danger">
              {{cpCtrl.lang.get('generalError')}}
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>