<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-default btn-block" type="button" ng-click="homeCtrl.openLetterList()"><i class="fa fa-file"></i> Change letter</button>
    </div>
    <div class="col-md-3">
      <p class="lead" style="margin-bottom: 0;">{{homeCtrl.currentLetter.title}}</p>
    </div>
    <div class="col-md-7">
      <div class="text-center">
        <button class="btn btn-default" type="button" clip-copy="homeCtrl.copyEnabledAsHTML()" clip-copy-mime-type="text/html"><i class="fa fa-clipboard"></i> Copy to clipboard</button>
      </div>
    </div>
  </div>
  <hr>

  <div class="row">

    <div class="col-md-2">
      <button class="btn btn-success btn-block" type="button" ng-click="homeCtrl.openSnippet()"><i class="fa fa-plus-circle"></i> Snipp'it</button>
      <div class="snippetEnabler" ng-repeat="(key, snippet) in homeCtrl.currentLetter.snippets">
        <label><input type="checkbox" ng-model="snippet.enabled" ng-click="homeCtrl.enableSnippet(key, !!snippet.enabled)"><span style="margin-left: 5px;">{{snippet.title}}</span></label>
        <span class="pull-right">
          <button class="btn btn-default btn-xs" type="button" ng-click="homeCtrl.openSnippet(key)"><i class="fa fa-pencil"></i></button>
        </span>
      </div>
    </div>

    <div class="col-md-3" ng-init="homeCtrl.values = {}">
      <div class="snippetEdit" ng-repeat="snippet in homeCtrl.currentLetter.snippets" ng-if="snippet.enabled && snippet.variables.length > 0">
        <h4 style="margin-top: 0;">{{snippet.title}}</h4>
        <div class="form-group" ng-repeat="variable in snippet.variables">
          <input class="form-control input-sm" placeholder="{{variable.tag}}" ng-model="homeCtrl.values[variable.tag]">
        </div>
      </div>
    </div>

    <div class="col-md-7 animated" ng-class="{'fadeIn': homeCtrl.copyNotice}">
      <div class="snippetContent" ng-repeat="snippet in homeCtrl.currentLetter.snippets" ng-if="snippet.enabled">
        <div ng-bind-html="snippet | tagFill: homeCtrl.values | ngMarkdown | html"></div>
      </div>
    </div>

  </div>

</div>