<div class="container">
  <button type="button" class="btn btn-success center-block" ng-click="homeCtrl.openSnippet()"><i class="fa fa-plus-circle"></i> Snippt</button>
  <hr/>
  <div class="row">

    <div class="col-md-2">
      <div ng-repeat="(key, snippet) in homeCtrl.user.snippets">
        <label><input type="checkbox" ng-init="snippet.enabled = true" ng-model="snippet.enabled">{{snippet.title}}</label>
        <span class="pull-right">
          <button class="btn btn-default btn-xs" ng-click="homeCtrl.openSnippet(key)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger btn-xs" ng-click="homeCtrl.deleteSnippet(key)"><i class="fa fa-trash-o"></i></button>
        </span>
      </div>
    </div>

    <div class="col-md-10">
      <div class="snippet row" ng-repeat="snippet in homeCtrl.user.snippets" ng-show="snippet.enabled" ng-init="homeCtrl.values = {}">
        <div class="col-md-3">
          <div class="form-group" ng-repeat="variable in snippet.variables">
            <input class="form-control" placeholder="{{variable.tag}}" ng-model="homeCtrl.values[variable.tag]">
          </div>
        </div>
        <div class="col-md-8">
          {{snippet | tagFill: homeCtrl.values}}
        </div>
        <div class="col-md-1">
          <button class="btn btn-default btn-sm" clip-copy="snippet.content | tagFill: homeCtrl.values"><i class="fa fa-clipboard"></i> Copy</button>
        </div>
      </div>
    </div>
  </div>

</div>