<div class="container">
  <div class="text-center">
    <button class="btn btn-default" clip-copy="homeCtrl.copyEnabledAsHTML(snippet)" clip-copy-mime-type="text/html"><i class="fa fa-clipboard"></i> Copy to clipboard</button>
  </div>
  <hr/>
  <div class="row">

    <div class="col-md-2">
      <button type="button" class="btn btn-success btn-block" ng-click="homeCtrl.openSnippet()"><i class="fa fa-plus-circle"></i> Snippt</button>
      <div class="snippetEnabler" ng-repeat="snippet in homeCtrl.snippets">
        <label><input type="checkbox" ng-init="snippet.enabled = true" ng-model="snippet.enabled" ng-click="homeCtrl.toggleSnippet(snippet)"><div class="checkboxText" style="float:right; margin-left: 5px;">{{snippet.title}}</div></label>
        <span class="pull-right">
          <button class="btn btn-default btn-xs" ng-click="homeCtrl.openSnippet(snippet.$id)"><i class="fa fa-pencil"></i></button>
        </span>
      </div>
    </div>

    <div class="col-md-3" ng-init="homeCtrl.values = {}">
      <div class="snippetEdit" ng-repeat="snippet in homeCtrl.snippets" ng-if="snippet.enabled">
        <p class="lead" style="margin-bottom: 5px;">{{snippet.title}}</p>
        <div class="form-group" ng-repeat="variable in snippet.variables">
          <input class="form-control" placeholder="{{variable.tag}}" ng-model="homeCtrl.values[variable.tag]">
        </div>
      </div>
    </div>

    <div class="col-md-7 animated" ng-class="{'fadeIn': homeCtrl.copyNotice}">
      <div class="snippetContent" ng-repeat="snippet in homeCtrl.snippets" ng-if="snippet.enabled">
        <div ng-bind-html="snippet | tagFill: homeCtrl.values | ngMarkdown | html">
        </div>
      </div>
    </div>
  </div>

</div>