<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="snippetCtrl.close()"><span aria-hidden="true">&times;</span></button>
  <h4 ng-if="!snippetCtrl.edit" class="modal-title">New snippt</h4>
  <h4 ng-if="snippetCtrl.edit" class="modal-title">Edit snippt</h4>
</div>

<div class="modal-body">

  <div class="form-group">
    <label class="control-label">Title</label>
    <input class="form-control" ng-model="snippetCtrl.snippet.title" placeholder="Give the snippet a title">
  </div>

  <div class="form-group">
    <label class="control-label" for="keywords">Keywords</label>
    <tags-input id="keywords" ng-model="snippetCtrl.snippet.variables" display-property="tag" placeholder="Add some keywords" add-on-space=true min-length="2" on-tag-added="snippetCtrl.tagMod()" on-tag-removed="snippetCtrl.tagMod()"></tags-input>
  </div>

  <div class="form-group">
    <label class="control-label" for="content">Content</label>
    <textarea class="form-control" ng-model="snippetCtrl.snippet.content" rows="15" id="content" name="textarea" placeholder="Write the snippet content here"></textarea>
  </div>

</div>

<div class="modal-footer">
  <button ng-if="snippetCtrl.edit" type="button" class="btn btn-danger pull-left" ng-click="snippetCtrl.delete()"><i class="fa fa-trash-o"></i> Delete</button>
  <button type="button" class="btn btn-default" ng-click="snippetCtrl.cancel()">Cancel</button>
  <button ng-if="!snippetCtrl.edit" type="button" class="btn btn-primary" ng-click="snippetCtrl.addSnippet()" ng-disabled="snippetCtrl.snippet.title.length === 0 || snippetCtrl.snippet.content.length === 0">Add</button>
  <button ng-if="snippetCtrl.edit" type="button" class="btn btn-primary" ng-click="snippetCtrl.saveSnippet()" ng-disabled="snippetCtrl.snippet.title.length === 0 || snippetCtrl.snippet.content.length === 0 || (snippetCtrl.snippet.title === snippetCtrl.org.title && snippetCtrl.snippet.content === snippetCtrl.org.content && !snippetCtrl.tagsChanged)" >Save</button>
</div>